n8n-workflow-get-expenses.json
{
  "name": "Megaplan Expenses - Get Data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-expenses",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "get-expenses"
    },
    {
      "parameters": {
        "url": "={{$env.MEGAPLAN_API_URL}}/deal/{{$json.dealId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "http-get-deal",
      "name": "HTTP Request - Get Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Megaplan Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.MEGAPLAN_API_URL}}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "qs": {
          "parameters": [
            {
              "name": "deal",
              "value": "={{$json.dealId}}"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-tasks",
      "name": "HTTP Request - Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Megaplan Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map tasks to expenses\nconst deal = $node[\"HTTP Request - Get Deal\"].json.data;\nconst tasks = $json.data || [];\n\n// Custom fields mapping\nconst FIELDS = {\n  status: '1001',\n  category: '1002',\n  brand: '1003',\n  contractor: '1004',\n  paymentType: '1005',\n  amount: '1006',\n  additionalCost: '1007',\n  finalCost: '1008',\n  fairCost: '1009',\n  currency: '1010'\n};\n\nfunction getCustomField(task, fieldKey) {\n  const fieldId = FIELDS[fieldKey];\n  return task.customFields?.[fieldId] || '';\n}\n\nconst expenses = [];\n\ntasks.forEach(task => {\n  // Filter only expense tasks (adjust logic as needed)\n  // if (task.type !== 'expense') return;\n  \n  expenses.push({\n    deal_id: deal.id,\n    status: getCustomField(task, 'status'),\n    category: getCustomField(task, 'category'),\n    brand: getCustomField(task, 'brand'),\n    contractor: getCustomField(task, 'contractor'),\n    paymentType: getCustomField(task, 'paymentType'),\n    manager: task.responsible?.name || '',\n    amount: parseFloat(getCustomField(task, 'amount')) || 0,\n    additionalCost: parseFloat(getCustomField(task, 'additionalCost')) || 0,\n    finalCost: parseFloat(getCustomField(task, 'finalCost')) || 0,\n    fairCost: parseFloat(getCustomField(task, 'fairCost')) || 0,\n    description: task.name || '',\n    dealLink: `https://${$env.MEGAPLAN_ACCOUNT}.megaplan.ru/deal/${deal.id}`,\n    creator: task.creator?.name || '',\n    currency: getCustomField(task, 'currency') || 'KZT',\n    deal_name: deal.name || ''\n  });\n});\n\n// Calculate total\nconst total = expenses.reduce((sum, exp) => sum + exp.finalCost, 0);\n\nreturn [{\n  json: {\n    dealId: deal.id,\n    dealName: deal.name,\n    expenses: expenses,\n    total: total\n  }\n}];"
      },
      "id": "code-map-expenses",
      "name": "Code - Map Expenses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Deal": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Tasks": {
      "main": [
        [
          {
            "node": "Code - Map Expenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Map Expenses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "instanceId": "your-instance-id"
  }
}
